*.class
bin/
*.ipr
*.iws
*.iml
*.project
*.classpath
/.idea/
/target/
/TNE/target/
fiotnh33.xot.txt
*.lst
/Core/target/maven-archiver/pom.properties
*.jar
/TNPC-Paper/target/dependency-reduced-pom.xml
/TNPC-Paper/target/maven-archiver/pom.properties
